<header class="site-header cf">

<div class="wrapper">
	<nav class="site-nav">
		<a class="logo" href="{{ site.baseurl }}/" title="{{ site.title }} home page">
		<img class="nav-logo" src="/{{ site.theme-path }}/logo.svg" title="{{ site.title }} logo" /></a>
		<ul>{% for page in site.pages %}{% if page.title %}{% unless page.exclude_from_nav %}
  			<li {% if page.description %}data-wenk="{{ page.description }}" data-wenk-pos="bottom"{% endif %} class="{{ page.nav-class }}"><a title="{{ page.title }}" class="page-link" href="{{ page.url | prepend: site.baseurl }}">{% if page.nav-title %}{{ page.nav-title }}{% else %}{{ page.title }}{% endif %}</a></li>{% endunless %}{% endif %}{% endfor %}
		</ul>
	</nav>
</div>

</header>