/*------------------------------------*\
    #LINKS
\*------------------------------------*/

a {
  background-color: transparent;
}

a, a:visited {
  color: $theme1;
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
  color: darken($theme1, 10%);
}

h2.external-url a:after {
	content: "website";
	font-weight: normal;
	font-size: 0.8rem;
	top: -0.1rem;
	position: relative;
	background: #fff;
	border-radius: 4px;
	padding: 0.25em 0.5em;
	margin-left: 0.5rem;
	color: #aaa;
	transition: all 0.1s linear;
}

h2.external-url a:hover:after {background: lighten($theme1, 10%); color: #fff;}

.read-more {
	display: block;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
	font-weight: bold;
}

p + .read-more {
	border-top: 1px solid $border-on-light;
	margin: 0;
	padding-top: 1rem;
}

.read-more-button, .back-button {
	font-weight: 500;
	padding: 0.25rem 0.5rem;
	display: inline-block;
	margin-bottom: 1rem;
	border: 1px solid #000;
	font-size: 0.75rem;
	transition: background 0.2s linear;
}
.back-button {
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.read-more-button:hover, .back-button:hover {
		background: lighten($color-pale-bg, 5%);
	}

a:focus {outline:none;}