/*------------------------------------*\
    # IMAGES
\*------------------------------------*/

img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

figure {
  margin: 0;
  padding: 0;
  p {margin-top: 0;}
    .caption {
    font-size: 0.8rem;
    margin-top: 0;
    width: 100%;
    text-align: center;
    color: lighten($color-main, 10%);
  }
  margin-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.post-content p img {
  border-radius: 5px;
}