/*------------------------------------*\
    #MAP
\*------------------------------------*/

.map {
  width: 100%;
  height: 300px;
  margin-top: 2rem;
  background-color: #efefef;
}


.launch-link + .map {
	margin-top: 0;
}