/*------------------------------------*\
    #PAGE-FOOT
\*------------------------------------*/

footer {
    padding-top: 2rem;
	padding-bottom: 2rem;
	margin-top: 2rem;
	border-top: 1px solid #000;
}

footer ul {
	padding: 0;
	list-style: none;
	margin-top: 0;
	margin-bottom: 1rem;
}